<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--

Introduction
============

By default the Boundary Meter downloads the tarball to the home directory of the user installing the meter.

The meter is then run out of this directory. The procedures that follow show to run using the OS X launchctld

Prerequisites
=============

1) Meter has already been install and the distribution is the users home directory. The sub-directory in the distribution
contains ca.pem and meter.conf


Installation
============

To have the boundary meter to be started by the launchdctld perform the following:

1) Move the distribution in the home directory to user local. In this example the boundary meter
version is 3.1.3 and build 575

$ sudo mv $HOME/boundary-meter-3.1.3-575 /usr/local/boundary-meter

2) Change the ownership of the files and directory:

$ sudo chown -R boundary:staff /usr/local/boundary-meter

3) Set the execute bit on /usr/local/boundary-meter/start.sh

$ sudo chmod 755 /usr/local/boundary-meter/start.sh

4) Copy the com.boundary.meter.plist to /Library/LaunchDaemons

$ sudo cp com.boundary.meter.plist /Library/LaunchDaemons


Starting the Boundary Meter
===========================

1) Start the boundary meter using launchctl:

$ sudo launchctl load -w /Library/LaunchDaemons/com.boundary.meter.plist


Stopping the Boundary Meter
===========================

1) Stop the boundary meter using launchctl:

$ sudo launchctl unload -w /Library/LaunchDaemons/com.boundary.meter.plist

-->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.boundary.meter</string>
    <key>ProgramArguments</key>
      <array>
        <string>/usr/local/boundary-meter/start.sh</string>
      </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>boundary</string>
    <key>GroupName</key>
    <string>staff</string>
    <key>StandardErrorPath</key>
    <string>/var/log/boundary-meter.stderr</string>
    <key>StandardOutPath</key>
    <string>/var/log/boundary-meter.stdout</string>
    <key>WorkingDirectory</key>
    <string>/usr/local/boundary-meter</string>
  </dict>
</plist>
